<app-home-navigation></app-home-navigation>

<div class="subjects-page">
    <h2>Mantenimiendo de Asignaturas</h2>
    <h3>Crear nueva asignatura</h3>

    <form class="crear-container" [formGroup]="subjectForm" (ngSubmit)="saveSubject()">
        <div class="contenedor-label">
            <label>
                Nombre:
                <input formControlName="name" />
            </label>
            <div *ngIf="subjectForm.controls.name.invalid && subjectForm.controls.name.touched" style="color:red">
                El nombre es obligatorio.
            </div>
        </div>

        <div class="contenedor-label">
            <label>
                Descripción:
                <input formControlName="description" />
            </label>
        </div>

        <button type="submit" [disabled]="subjectForm.invalid">
            {{ selectedSubjectId ? 'Actualizar' : 'Crear' }}
        </button>
        <button type="button" (click)="newSubject()">Nuevo</button>
    </form>
</div>

<h3>Listado de asignaturas</h3>

<table class="generic-table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Activo</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let subject of subjectList; let i = index"
        [class.row-even]="i % 2 === 0"
        [class.row-odd]="i % 2 === 1">
        <td><b (dblclick)="editSubject(subject)">{{ subject.name }}</b></td>
        <td>{{ subject.description }}</td>
        <td>{{ subject.active ? 'Sí' : 'No' }}</td>
        <td>
            <button class="button_primary" (click)="deleteSubject(subject.id)">Borrar</button>
            <button class="button_primary" *ngIf="!subject.active" (click)="activateSubject(subject.id)">Activar</button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td [attr.colspan]="4">Total de registros: {{ subjectList.length }}</td>
    </tr>
    </tfoot>
</table>

    
  


